.main {
  padding: 0 1.5em 1.5em 1.5em;
}
.logo-container {
  display: grid;
  grid-template-columns: 4.5em auto;
  column-gap: 1.5em;
  padding: 3.625em 0 1.5em 0;
  margin-bottom: 2em;
  border-bottom: 0.15em solid var(--ion-color-primary);
}
.logo-message {
  font-family: "AvenirLTStd-Roman", sans-serif;
  font-size: 1em;
  color: #757575;
  margin: 0;
}
.logo-empty {
  width: 4.5em;
}
.logo-title {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1em;
  color: var(--ion-color-secondary);
  margin: 0;
  margin-bottom: 0.5em;
}
.data-form {
  display: grid;
  grid-template-columns: auto;
  row-gap: 1em;
}
.data-form p {
  font-family: "Montserrat-Bold", sans-serif;
  color: var(--ion-color-secondary);
  font-size: 1em;
}
::ng-deep .data-form {
  .input-wrapper {
    background-color: transparent;
    .label-text-wrapper .label-text {
      font-family: "AvenirLTStd-Medium", sans-serif;
      font-size: 1em;
      color: #aaaaaa;
    }
  }
}
