<div class="main">
  <div class="logo-container">
    <img class="logo-police" src="assets/images/logo-police.svg" alt="logo-police">
    <div>
      <p class="logo-title">
        ESTAS MUY CERCA DE SER PARTE DE COINK.
      </p>
      <p class="logo-message">
        Solo es necesario que leas detenidamente el contrato que se encuentra al final de esta pantalla y lo aceptes.
      </p>
    </div>
  </div>
  <div class="terms">
    <p class="terms-title">LO MÁS IMPORTANTE</p>
    <p class="terms-content">Para la apertura del Depósito de Bajo Monto en COINK debes ser una persona natural que de
      acuerdo con nuestra legislación vigente te encuentres en plena capacidad para adquirir derechos y contraer
      obligaciones.<br /><br />
      Abrirás una cuenta COINK de Bajo Monto la cual te permitirá tener un saldo hasta por 8 salarios mínimos en el mes
      y realizar débitos por el mismo valor. Si deseas sobrepasar estos límites debes solicitarnos la apertura de un
      Depósito Ordinario COINK Persona Natural.<br /><br />
      Solo puedes tener una cuenta COINK de Bajo Monto y podrás utilizar tu dispositivo móvil para consultar tu saldo,
      tus movimientos, realizar tus transacciones y administrar tu cuenta.<br /><br />
      Recuerda que no necesitas saldo mínimo ni monto inicial para su apertura.
    </p>
  </div>
  <div>
    <a class="read-contract" href="https://coink.com/terminos-y-condiciones-generales/" target="_system">Lee tu
      contracto</a>
    <ion-checkbox [formControl]="checkControl" labelPlacement="end">He leído ya acepto el contrato</ion-checkbox>
    <app-primary-button [title]="'ACEPTAR'" (onClick)="onSubmit()"
      [disabled]="!checkControl.valid"></app-primary-button>
  </div>
</div>