div {
  width: 100vw;
  display: grid;
  padding: 4em;
  justify-content: center;
  justify-items: center;
  align-content: center;
  overflow: scroll;
  img {
    width: 10em;
  }
  h3 {
    text-align: center;
    color: var(--ion-color-secondary);
  }
}
