<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>NÚMERO CELULAR</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Page Two</h1>
  <div>
    <form [formGroup]="form">
      <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      <app-keyboard-phone formControlName="phone" (submit)="onSubmit()" [disabledSubmitBtn]="!form.get('phone').valid"></app-keyboard-phone>
    </form>
  </div>
</ion-content>