<ion-header>
  <div class="sign-up-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ng-container [ngSwitch]="stepSelected">
      <h3 *ngSwitchCase="1">NÚMERO CELULAR</h3>
      <h3 *ngSwitchCase="2">DATOS CUENTA</h3>
      <h3 *ngSwitchCase="3">FINALIZAR</h3>
    </ng-container>
    <app-stepper-indicator [step]="stepSelected"></app-stepper-indicator>
  </div>
</ion-header>
<ion-content>
  <div>
    <ng-container [ngSwitch]="stepSelected">
      <ng-container *ngSwitchCase="1">
        <app-sign-up-step-one (next)="stepSelected = 2;"></app-sign-up-step-one>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <app-sign-up-step-two (next)="stepSelected = 3;"></app-sign-up-step-two>
      </ng-container>
      <h3 *ngSwitchCase="3">FINALIZAR</h3>
    </ng-container>
    <ng-container>
    </ng-container>
  </div>
</ion-content>
<!--  -->